[Desktop Entry]
Type=Application
Exec=/usr/bin/autosync-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=AutoSync Indicator
Name=AutoSync Indicator
Comment[en_US]=
Comment=
