[Desktop Entry]
Type=Application
Exec=hgbackup hidden
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=HGBackup
Name=HGBackup
Comment[en_US]=
Comment=
